body {
    background-color: white;
}
#lorem {
    margin: 0px;
    font-size: 100%;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    text-align: center;
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0deg) skew(0deg);
}

#instructions{
    text-align: center;
}